---
---

<center><h1> üìçüìç Theory of Operators üìçüìç </h1> </center>


* ***Arithmetic operators***  

* ***Comparison operators***

* ***Logical operators***

 

---

---

In [ ]:
a = 15      # int
b = 8       # int
c = 15.5    # float
s = 'Hello' # String

In [2]:
#Addition

3 + 5

8

In [3]:
# Subtraction

54 - 46

8

In [4]:
# Multiplication

2 * 3

6

In [5]:
# Division

35 /7

5.0

In [6]:
"neeraj"+"20"

'neeraj20'

In [7]:
"neeraj" * 5

'neerajneerajneerajneerajneeraj'

# Comparison Operators

In [8]:
# greater than

45 >34

True

In [9]:
# less than 

56 <23

False

In [10]:
34 * 34 < 45*23

False

In [11]:
45 == 45

True

# Logical Operators

In [12]:
# and operator

0 and 3

0

In [13]:
3 and 0

0

In [14]:
3 and 5

5

In [15]:
# or operator

0 or 3

3

In [16]:
3 or 0

3

# Variable Assignment

In [1]:
a = 5

In [2]:
print(a)

5

In [2]:
A = 4

In [3]:
print(A)

4

# How variables work in Python

In [5]:
a = 7
b = a
a = 3

In [6]:
print(a)
print(A)
print(b)
print(b)

3
4
7
7

# Variable naming rules

In [7]:
a = 5

In [8]:
_a=5

# Data types

In [9]:
a =5

In [10]:
type(a)

int

In [11]:
b="neeraj"

In [12]:
type(b)

str

In [4]:
my_age = 26.33333
my_age = int(my_age)
my_age

26

In [6]:
my_int = int('2') + 6
my_int

8

---

<center><h1> üìç üìç Conditional Statements üìç üìç </h1></center>


---
***CONDITIONAL OPERATORS***

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b


---

In [7]:
# if "The condition in the if statement is False"
x = 1

if (x == 1):
    print('The condition in the if statement is True.')

The condition in the if statement is True.

In [8]:
# if "The condition in the if statement is False"
if (x == 3):
    print('The condition in the if statement is True')

In [19]:
# with one condition
a = 5
b = 10

if (a > b):
    print('a is greater than b.')
else :
    print('a is smaller than b.')

a is smaller than b.

In [13]:
# Problem 1 : Take a variable x and print "Even" if the number is divisible by 2, otherwise print "Odd".
x=4

if(x%2==0):
    print("Even")
else:
    print("Odd")

Even

In [10]:
# multiple conditions
a = 8
b = 10

if ( (a > 10) and (b > 10) ):
    print('Both the numbers are greater than 10.')
    
elif ( (a > 5) and (b > 5) ):
    print('Both the numbers are greater than 5')
    
else:
    print('Conditions are not Satisfied.')

Both the numbers are greater than 5

In [14]:
# Problem 2 : Take a variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.
y=90

if(y>90):
    print("Grade A")
elif(y>60):
    print("Grade B")
else:
    print("Grade F")

Grade B

In [11]:
x = input()

# by default the type is string, so we need to convert the type first
x = int(x)

if(x%2 == 0):
    print("Even")
else:
    print("Odd")

 12

Even

---
---

<center><h1> üìçüìç Looping Constructs: üìçüìç</h1></center>

---
---

### üìçüìç FOR LOOP AND RANGE FUNCTION

- We use for loop when we want to run a block of code certain number of times.
 
---

- When we pass only one argument (considered as **`END_POINT`**) in the range function. The loop starts with **`0`** and runs till **`END_POINT - 1.`**

In [14]:
for number in range(4):
    print(number)

0
1
2
3

In [15]:
for number in range(1, 5):
    print(number)

1
2
3
4

In [16]:
for number in range(1, 10, 2):
    print(number, end= ' ')

1 3 5 7 9

In [17]:
for character in "analytics_vidhya":
    print(character)

a
n
a
l
y
t
i
c
s
_
v
i
d
h
y
a

In [18]:
# Problem 2: Write a for loop to print all the add numbers between 10 and 50.
for i in range(10,51):
    if(i%2!=0):
        print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [15]:
# Problem 1: Write a for loop to print all the numbers between 10 and 50.
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [20]:
# Problem 2: Write a for loop to print all the add numbers between 10 and 50.
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

---

### üìçüìç **`NESTED FOR LOOPS`**

- A nested loop is a loop within a loop.
- For each step in the outer loop, the inner loop exectues completely. See the below example

---

In [21]:
# define the range of outer loop
for outer_loop_number in range(1, 3):
    
    # define the inner loop
    for inner_loop_character in "ABC":
        
        print(outer_loop_number, inner_loop_character)

1 A
1 B
1 C
2 A
2 B
2 C

---
---

## üìçüìç WHILE LOOP

* Another way to execute a block of code over and over again is using a while statement. 
* The code in a while clause will be executed as long as the while statement‚Äôs condition is True.


---

***In the below example, we have initialize the variable `number = 0` and we will increment it's value in each iteration. The loop will only continue to run only if the value is less than 7.***

---

In [22]:
number = 0

while (number < 7):
    print(number)
    number = number + 1

0
1
2
3
4
5
6

In [23]:
number = 0

while (number < 7):
    print(number)
    number = number + 2

0
2
4
6

---
---

### üìçüìç Jump Statements in Python (break, continue and pass)

- Using for loops and while loops in Python allow you to automate and repeat tasks in an efficient manner.

- But sometimes, an external factor may influence the way your program runs. When this occurs, you may want your program to exit a loop completely, skip part of a loop before continuing, or ignore that external factor. 
- You can do these actions with break and continue statements.

#### 1. Break Statement
- In Python, the break statement provides you with the opportunity to exit out of a loop when an external condition is triggered. 

- You‚Äôll put the break statement within the block of code under your loop statement, usually after a conditional if statement.

- The break statement causes a program to break out of a loop.


Let‚Äôs look at an example that uses the break statement in a for loop:

In [24]:
number = 0

for number in range(10):
    if number == 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [25]:
password = "data"

for trial in range(1,5):
    
    if trial == 4:
        print('One trial left!!!')
        
    
    enter_password = input("Enter Password: ")
        
    if enter_password == password:
        print("Welcome to Python Course!!")
        break
        
    else:
        print("Wrong Password!!")

Enter Password:  1233

Wrong Password!!

Enter Password:  data

Welcome to Python Course!!

In [26]:
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [27]:
OTP = "1232"

for trial in range(1, 5):
    
    if trial == 4:
        print('One trial left!!!')
    
    enter_otp = input("Enter OTP: ")
        
    if enter_otp != OTP:
        print("Try Again !!")
        continue
        
    else:
        name = input("Enter Your Name: ")
        city_name = input("Enter Your City: ")
        break

Enter OTP:  12

Try Again !!

Enter OTP:  1232
Enter Your Name:  arun
Enter Your City:  Kathmandu

In [28]:
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

---
---

<center><h1> üìç üìç DATA STRUCTURE - LIST üìç üìç </h1></center>



---
***Creating a list***

---

In [1]:
#creating a list
my_list =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***Access elements with index***

![](images/table.png)

---

In [3]:
# positive index - second element from the left
my_list[1]

2

In [4]:
# negative index - second last element in the list
my_list[-2]

9

***List Slicing***

---

In [6]:
my_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# same result using the double colon also
my_list[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# after second colon we define the step
my_list[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# slice list with step 2
my_list[::2]

[1, 3, 5, 7, 9]

In [10]:
# list from index 2 upto 5 with step 1
my_list[2:5:1]

[3, 4, 5]

In [11]:
# list from index 2 upto 5 with step 2 
my_list[2:5:2]

[3, 5]

In [12]:
# list from index 3 to second last index
my_list[2:-2]

[3, 4, 5, 6, 7, 8]

In [13]:
# reverse the list using step value as -1
my_list[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

***Append an element to the list.***

---

In [14]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
my_list.append(3)

In [16]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [17]:
# let's try to append multiple elements in the list
my_list.append([1,2])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2]]

You can see that it has created an nested list when used append method, You can add multiple elements to the list by using extend function. 

---

In [18]:
my_list.extend([2, 2, 3, 4])
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Search for an element in the List***

---

In [19]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [21]:
# find out the index of an element in the list if present
my_list.index(5)

4

In [26]:
# index can also search nested objects
my_list.index([1,2])

11

***Insert an element in the List***

---

In [27]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [28]:
my_list.insert(1, 'w')

In [29]:
my_list

[1, 'w', 2, 3, 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [30]:
my_list.insert(4,'python')

In [31]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

---

***Check if the particular element is present in the list or not.***

We will use `in` or `not in` to get the answers of these type of queries. These `in` and `not in` are also called as `membership operators.`

---

In [32]:
90 in my_list

False

In [33]:
[1, 2] in my_list

True

In [34]:
[117] not in my_list

True

***Remove an element from the list***

---

In [35]:
my_list

[1, 'w', 2, 3, 'python', 4, 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [36]:
# using remove method, It will find and delete the first element found 4
my_list.remove(4)
my_list

[1, 'w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

In [37]:
# using del keyword, It will delete the element present at the zeroth index
del my_list[0]
my_list

['w', 2, 3, 'python', 5, 6, 7, 8, 9, 10, 3, [1, 2], 2, 2, 3, 4]

***Iterate the list.***

---

In [38]:
for element in my_list:
    print(element)

w
2
3
python
5
6
7
8
9
10
3
[1, 2]
2
2
3
4

***Some pre-defined method on List***

---

In [40]:
# creat another random list
my_list_2 = [1, 33, 3432, 232, 1 ]

In [41]:
# find out the length of the list
len(my_list_2)

5

In [42]:
my_list_2.reverse()
my_list_2

[1, 232, 3432, 33, 1]

In [43]:
# sort the list
my_list_2.sort()
my_list_2

[1, 1, 33, 232, 3432]

In [44]:
# another way of sorting list
sample_list = [2, 33, 42, 1, 34, 35]
sorted(sample_list)

[1, 2, 33, 34, 35, 42]

***Nested List***

* Some or all of the elements in the list are also of type list.

---

In [45]:
# define a sample nested list
my_list_3 = [1, 2, [1, 2, 1], ['A', 'B', 'C'], 'W', ['A', 'A', 'A']]

In [46]:
# length of the list
len(my_list_3)

6

In [47]:
# second element is a sigle element
my_list_3[1]

2

In [48]:
# third element is of type list
my_list_3[2]

[1, 2, 1]

In [49]:
# access particular element of the third element (list type element)
my_list_3[2][1]

2

In [50]:
# access element with negative index
my_list_3[-3][-1]

'C'

---

# Problem Statement: üìùüìù

* ***üéìüéì Analytics Vidhya conducted an assessment test to hire a Data Scientist. The candidates were evaluated on 5 different subject `A`, `B`, `C`, `D`, and `E`. üéìüéì The marks of 5 different subjects out of 100 are given below. Help Analytics Vidhya to find out the answers of the following question.***

üìçüìç

   * üôá Who scored the highest marks in the subject B?

In [51]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

***Let's try to access the first index of the list.***

---

In [52]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

***Here the first element in the index is similar to headers in the CSV file. So, we will slice the list from the second element.***


---

In [53]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

***Now, each element in the list from the index 1 contains 2 elements, the first one is the Name and second one is list of marks***

---

In [54]:
student_marks[1][0]

'Ankit'

In [55]:
student_marks[1][1]

[41, 34, 45, 55, 63]

- Now, the student marks are in order **`A`**, **`B`**, **`C`**, **`D`** and **`E`**. and we need to access the value at index 1 to get the marks in subject **`B`**

---

In [56]:
student_marks[1][1][1]

34

***That's the marks of `Ankit` in Subject `B`***

---

---
---
***Now, we will solve the problem step by step.***


---

## üìçüìçüìçWho scored the highest marks in the subject B üèÜ ü•á?   

---

***Step1 üìç: Select name of student and marks in subject B***

In [57]:
for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    print(name, marks_in_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

---
***Step2 üìç: Store the filtered name and marks in another list.***

In [58]:
student_with_marks_in_B = []

for student in student_marks[1:]:
    name = student[0]
    marks_in_B = student[1][1]
    
    student_with_marks_in_B.append([marks_in_B,name])

In [59]:
student_with_marks_in_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

---

***Step3 üìç: Sort the list. (We Kept the marks as the first index)***

In [60]:
sorted(student_with_marks_in_B)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

---

***Step4 üìç: Get the final index of the sorted list***

In [61]:
sorted(student_with_marks_in_B)[-1][1]

'Gyan'

***So, we got the answer of the first question. Gyanü•áü•á has scored the highest marks in subject B.***

---
---

---

## Data Structure - Tuple üìçüìç


* We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.


---

In [62]:
my_tuple = ('A', 'B', 'C', 'D', 'D', 'E', 1 , 'D')

#### Access element at any Index

---

In [65]:
my_tuple[2]

'C'

#### Find out the index of any element if present in Tuple

---

In [66]:
my_tuple.index('E')

5

#### Count of an element in a tuple

---

In [67]:
my_tuple.count('D')

3

#### Iterate through the elements of the Tuple

---

In [68]:
for element in my_tuple:
    print(element)

A
B
C
D
D
E
1
D

#### Slicing of a tuple

---

In [69]:
my_tuple

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [70]:
# first three elements
my_tuple[:3]

('A', 'B', 'C')

In [71]:
# define the start and end point to slice
my_tuple[3:5]

('D', 'D')

In [72]:
# count method on a slice 
my_tuple[3:5].count('D')

2

In [73]:
# index method on a slice
my_tuple[1:4].index('B')

0

---
---

<center><h1> Data Structure - Set üìçüìç </h1></center>

---

#### Defining a set in Python

---

In [74]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4}

In [75]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [76]:
my_set = {'A', 'B', 'C', 'D', 1, 'E', 2, 4, 2 , 2}

In [77]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

#### Defining a set from a List  and Tuple

---

In [78]:
my_list = ['A', 'B', 1, 2, 'B', 'A']
my_set_from_list = set(my_list)

In [79]:
my_set_from_list

{1, 2, 'A', 'B'}

In [80]:
my_tuple = ('A', 'B', 1, 2, 'B', 'A')
my_set_from_tuple = set(my_tuple)

In [81]:
my_set_from_tuple

{1, 2, 'A', 'B'}

#### Add an element to the set

---

In [82]:
my_set.add('O')

In [83]:
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

#### Delete an element from the list

* Discard - It will not throw an error, if the element you want to remove is not present in the set.
* remove - It will throw an error, if the element you want to remove is not present in the set.

---

In [84]:
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [85]:
my_set.discard('A')

In [86]:
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

#### Difference between two Sets

## A-B

![](images/difference.png)
---

In [87]:
# Set 1
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [88]:
# Set 2
my_set_from_list

{1, 2, 'A', 'B'}

In [89]:
# difference of 2 sets
my_set.difference(my_set_from_list)

{4, 'C', 'D', 'E', 'O'}

In [90]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'B', 'C', 'D', 'E', 'O'}

In [91]:
# use the difference_update to store the results directly
my_set.difference_update(my_set_from_list)

In [92]:
# updated set
my_set

{4, 'C', 'D', 'E', 'O'}

#### Intersection of two sets


![](images/intersection.png)

---

In [94]:
# Set 1
my_set = {1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [95]:
# Set 2 
my_set_from_list

{1, 2, 'A', 'B'}

In [96]:
# intersection of 2 sets
my_set.intersection(my_set_from_list)

{1, 2, 'A', 'B'}

In [97]:
# it will not update the results, if not stored in a variable
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E', 'O'}

In [98]:
# to update directly, use intersection_update
my_set.intersection_update(my_set_from_list)

In [99]:
# updated set
my_set

{1, 2, 'A', 'B'}

#### Other operations on set

* is_disjoint
* is_subset
* is_superset
* union

---

In [100]:
# define 3 random sets
sample_set_1 = {'A', 'B', 'C', 'D', 'E', 'F'}
sample_set_2 = {'A', 'D', 'E'}
sample_set_3 = {'S', 'T', 'U'}

In [101]:
# check if 2 sets are disjoint sets
sample_set_1.isdisjoint(sample_set_2)

False

In [102]:
sample_set_1.isdisjoint(sample_set_3)

True

In [103]:
# check if one set is subset of another set
sample_set_2.issubset(sample_set_1)

True

In [104]:
# check if one set is superset of another
sample_set_1.issuperset(sample_set_2)

True

In [105]:
# union of 2 sets
sample_set_1.union(sample_set_3)

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

#### Update Set

---

In [106]:
# update a set with new values, it will add the values which are not present in the original set.
sample_set_1.update({'C', 'D', 'E', 'R', 'Z'})

In [107]:
sample_set_1

{'A', 'B', 'C', 'D', 'E', 'F', 'R', 'Z'}

#### Iterate the set

---

In [108]:
# Iterate the set
for element in sample_set_1:
    print(element)

A
B
F
R
C
D
Z
E

---
---
## Data Structure: Dictionaryüñäüñä

* Dictionary is also a mutable collection. But as you have seen in the list the indexes of the list are integer numbers. Here, indexes for dictionaries can use many different data types, not just integers.
* Indexes for dictionaries are called keys, and a key with its associated value is called a key-value pair.
* Items in the dictionaries are unordered. You can find out the first item in a list simply like my_list[0]. But there is no ‚úñÔ∏è ‚Äúfirst‚Äù item in a dictionary. 
*  ‚òëÔ∏è Note: Dictionaries in Python 3.7 and later will remember the insertion order of their key-value pairs if you create a sequence value from them. But these are still unordered, as you can‚Äôt access items in them using integer indexes.
* When we check whether the 2 lists are same or not the order of values in the list matters. It does not matter in what order the key-value pairs are typed in a dictionary.

üìçüìç
---
üìçüìç ***Defining a dictionary in Python*** üìçüìç

In [109]:
# define a dictionary
'''
{
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    .
    .
    .
    .
    'key_n' : 'value_n'
}
'''
# define the key value pairs
my_dictionary = {
    'name'       : 'abc',
    'age'        :  21,
    'roll_no'    : 'CSE100',
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'gurugram',
    'country'    : 'india'
}

In [110]:
# access key of the dictionary
print('Name is : ',my_dictionary['name'])

Name is :  abc

In [111]:
print('Age before updation is : ',my_dictionary['age'])

# update value of the key
my_dictionary['age'] = 25

print('Age after updation is : ',my_dictionary['age'])

Age before updation is :  21
Age after updation is :  25

In [112]:
# get the keys of the dictionary

my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [113]:
# get the values of the dictionary

my_dictionary.values()

dict_values(['abc', 25, 'CSE100', 85, 74, 'gurugram', 'india'])

In [114]:
# update dictionary with a dictionary

my_dictionary.update({ 'pincode' : 122015, 'last_name' : 'xyz'})

In [115]:
my_dictionary

{'name': 'abc',
 'age': 25,
 'roll_no': 'CSE100',
 'percentage': 85,
 'attendance': 74,
 'city': 'gurugram',
 'country': 'india',
 'pincode': 122015,
 'last_name': 'xyz'}

---

üìçüìç ***Add new key to the dictionary*** üìçüìç

---

In [116]:
# add new key to the dictionary:
my_dictionary['new_key'] = 'new_value'

print(my_dictionary)

{'name': 'abc', 'age': 25, 'roll_no': 'CSE100', 'percentage': 85, 'attendance': 74, 'city': 'gurugram', 'country': 'india', 'pincode': 122015, 'last_name': 'xyz', 'new_key': 'new_value'}

---

***üìçüìç Dictionary Keys üìçüìç***

---

---

***Most of the data types can be used as keys in Dictionaries***

---

In [117]:
sample = {
    'string' : 'string',
    10       : 'integer',
    1.5      : 'float',
    False    : 'boolean'
}

---

***üìçüìç `Duplicate keys` üìçüìç***

---

sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3
}

In [120]:
sample['A']

1

In [121]:
sample = {
    'A' : 1,
    'B' : 2,
    'C' : 3,
    'A' : 100
}

In [122]:
sample['A']

100

---

üìçüìç ***Compare 2 dictionaries by changing their order.*** üìçüìç

---

In [123]:
my_dict_1 = {
    'key_1' : 'value_1',
    'key_2' : 'value_2',
    'key_3' : 3
}

my_dict_2 = {
    'key_3' : 3,
    'key_1' : 'value_1',
    'key_2' : 'value_2'
}

(my_dict_1 == my_dict_2)

True

---

üìçüìç ***Iterate through key-value pairs of the dictionary*** üìçüìç

---

In [124]:
# Iterate through key-value pairs of the dictionary

for key,value in my_dictionary.items() :
    print(key,value)

name abc
age 25
roll_no CSE100
percentage 85
attendance 74
city gurugram
country india
pincode 122015
last_name xyz
new_key new_value

---

üìçüìç ***Sort the dictionary by key*** üìçüìç

---

In [125]:
m_dict = {
    'KL Rahul' : 45,
    'Rohit'    : 22,
    'Virat'    : 31,
    'Dhawan'   : 17,
    'Rishabh'  : 10 
}

In [126]:
sorted(m_dict.items())

[('Dhawan', 17),
 ('KL Rahul', 45),
 ('Rishabh', 10),
 ('Rohit', 22),
 ('Virat', 31)]

---
---

<center><h1>üìç üìç String Manipulation üìç üìç</h1></center>

---
**Define a string***

---

In [127]:
my_string = "Analytics Vidhya creating next generation data science eco-system"

***Length of the string***

---

In [129]:
len(my_string)

65

***Access characters in a string***

---

In [130]:
my_string[0]

'A'

In [131]:
my_string[3]

'l'

***Access characters with negative indexing***

---

In [132]:
my_string[-1]

'm'

***String Slicing***

---

In [133]:
my_string[1:3]

'na'

In [134]:
my_string[10:-10]

'Vidhya creating next generation data science '

In [135]:
# reverse a string

my_string[::-1]

'metsys-oce ecneics atad noitareneg txen gnitaerc ayhdiV scitylanA'

***Count of a particular `character` or a `sub-string` in a string.***

---

In [136]:
my_string

'Analytics Vidhya creating next generation data science eco-system'

In [137]:
my_string.count('a')

6

In [138]:
my_string.count('A')

1

In [139]:
my_string[10:-10]

'Vidhya creating next generation data science '

In [140]:
my_string[10:-10].count('a')

5

In [141]:
my_string.count('en')

2

***Find a substring in the string using `find` and `index` function.***

**`find`**

* If present it will return the starting index.
* If not found, then it will return -1

---

In [142]:
my_string.find('next')

26

In [143]:
my_string.find('python')

-1

**`index`**

* If present it will return the starting index.
* If not found, then it will give error

In [144]:
my_string.index('next')

26

***Check whether if the string `startswith` or `endswith` a particular substring or not.***

---

In [146]:
my_string.endswith('python')

False

In [147]:
my_string.endswith('system')

True

In [148]:
my_string.startswith('python')

False

In [149]:
my_string.startswith('analytics')

False

***Convert the string to the upper case.***

---

In [151]:
my_string

'Analytics Vidhya creating next generation data science eco-system'

In [152]:
my_string.upper()

'ANALYTICS VIDHYA CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM'

In [153]:
my_string.capitalize()

'Analytics vidhya creating next generation data science eco-system'

In [154]:
my_string.islower()

False

In [155]:
my_string.isupper()

False

***Check if the string is digit, alpabetic, alpha-numeric.***

---

In [156]:
"10".isnumeric()

True

In [157]:
"1213as".isnumeric()

False

In [158]:
"python".isnumeric()

False

In [159]:
"python".isalpha()

True

In [160]:
"1212as".isalpha()

False

In [161]:
"1212as".isalnum()

True

In [162]:
string = "AnalyticsVidhya"

In [163]:
string.isalpha()

True

In [164]:
string = "Analytics Vidhya"

In [165]:
string.isalpha()

False

***Replace substrings***

---

In [166]:
"java is easy to learn.".replace('java', 'python')

'python is easy to learn.'

***Split function***

---

In [167]:
"python is easy to learn".split(' ')

['python', 'is', 'easy', 'to', 'learn']

In [168]:
"python is easy to learn".split('easy')

['python is ', ' to learn']

---

## üìçüìç Defining Functions üìçüìç
---

* ***Purpose of functions is to group a particular lines of code that needs to be executed multiple times.***
* ***The keyword `def` introduces a function definition and it must be followed by the function name.***

---

In [1]:
def welcome():
    print("Welcome to the Python Course!!")

In [2]:
# calling a function in python
welcome()

Welcome to the Python Course!!

In [3]:
welcome()

Welcome to the Python Course!!

In [4]:
welcome()

Welcome to the Python Course!!

---

***`return statement:`***

- A `return` statement is used to end the execution of the function call and gives the result. 
- The statements after the `return statements` are not executed.

---

In [5]:
def add_two_numbers():
    # add two numbers 3 and 4
    total = 3 + 4
    
    # print the total
    print("Sum of 3 and 4 is:", total)

In [6]:
def add_two_numbers_with_return():
    # add two numbers 3 and 4
    total = 3 + 4
    
    # print the total
    print("Sum of 3 and 4 is:", total)
    
    # return the value of total
    return total

In [7]:
add_two_numbers()

Sum of 3 and 4 is: 7

In [8]:
output_1 = add_two_numbers()

Sum of 3 and 4 is: 7

In [9]:
output_1 # values not saved

In [10]:
output_2 = add_two_numbers_with_return()

Sum of 3 and 4 is: 7

In [11]:
output_2

7

---

###  Passing Parameters

---

In [12]:
def welcome(name):
    return "Welcome to Python Course, " + name

In [13]:
welcome('Lakshay')

'Welcome to Python Course, Lakshay'

In [14]:
welcome('Arun')

'Welcome to Python Course, Arun'

---

***Default value of Parameters***


---

In [15]:
def welcome(name = 'Aravind'):
    return "Welcome to Python Course, " + name

In [16]:
welcome("Rohan")

'Welcome to Python Course, Rohan'

In [17]:
welcome()

'Welcome to Python Course, Aravind'

---

***`POSITIONAL ARGUMENTS`***

***Most arguments are identified by their position in the function call. `print(a,b)` will give different results from `print(b,a)`***

---

In [18]:
def math_functions(small_number, large_number):
    
    difference = large_number - small_number
    return difference

***If we define only the values of the arguments, the values will be assigned in position.***

---

In [19]:
math_functions(4,16)

12

In [20]:
math_functions(16,4)

-12

---

***`KEYWORD ARGUMENTS`***

---
***If we are defining the keywords, then we can define them in any order.***

---

In [21]:
math_functions(large_number = 16, small_number= 4)

12

In [22]:
math_functions(small_number = 4, large_number= 16)

12

***In Python, we cannot first define keyword argument and then positional arguments***

---

In [24]:
math_functions(small_number=4, large_number=16)

12

In [25]:
math_functions(4,large_number= 16)

12

---

***VARIABLE LENGTH ARGUMENTS***

- Sometimes, we need more flexibility while defining functions like we don't know in advance the fixed number of arguments. 
- Python allows us to make function calls with variable length arguments.

---

- In the argument use an **(*)** astrick sign before the argument. Let's see how to use in below example.

In [26]:
def my_function(*args):
    
    for i in args:
        print(i)

In [27]:
my_function(1, 2, 3, 4)

1
2
3
4

In [28]:
my_function(1,2)

1
2

In [29]:
my_function('1', '2', 'cijeoi', 'foejof', 'ojfiejfpiwe')

1
2
cijeoi
foejof
ojfiejfpiwe

#### If you have unknown number of keyword arguments, then you can use double asterick (**)

---

In [30]:
def my_keyword_arguments(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

In [31]:
my_keyword_arguments(a= 1, b= 2, c= 3, d= 4)

a 1
b 2
c 3
d 4

In [32]:
my_keyword_arguments(x='s',y='e')

x s
y e

---

***Scope of Variables: Local and Global Variables***

---

- **`"Scope of Variable"`** means that part of program where we can access the particular variable.
- **`"Local Variable"`** are those which are defined inside the function and can be only accessed inside that particular function.
- **`"Global Variable"`** are defined outside the function and can be accessed throughout the program.
 
---


***Let's define a global variable, `"name"` outside the function. We will return its value using a function `"my_function"` and see that we would be able to access its value using that function also.***

---

In [33]:
# define a global variable
name = "variable outside function" 

# define a function
def my_function():
    # access the variable outside the function
    return name

In [34]:
print(my_function())
print(name)

variable outside function
variable outside function

In [35]:
# define a global variable
name = "variable outside function"

def my_function():
    # try to change the value of global variable inside the function
    name = "variable inside function"  
    return name

In [36]:
print(my_function())
print(name)

variable inside function
variable outside function

In [37]:
# define a global variable
name = "variable outside function"

def my_function():
    # tell the function which variables are global
    global name
    name = "variable inside function"  
    return name

In [38]:
my_function()

'variable inside function'

---
---

<center><h1>üìç üìç Lambda Expressions üìç üìç</h1></center>
---


---

***`Lambda Functions`***





* This function can have any number of arguments but only one expression, which is evaluated and returned.
* You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.

* It is more efficient than function when the function task is small.
* Do not use Lambda functions when task is complex.
* It works best when you have to call a function millions of times but the execution task is simple.

In [39]:
def add_20(a):
    return a+20

In [40]:
add_20(5)

25

In [41]:
var = lambda a : a + 20


print('With argument value 5 : ',var(5))
print('With argument value 10 : ',var(10))

With argument value 5 :  25
With argument value 10 :  30


---


***A Lambda function with two arguments.***


---

In [42]:
lambda_add = lambda a, b : a+b

print('The value of 5+3 = ',lambda_add(5,3))
print('The value of 7+2 = ',lambda_add(7,2))

The value of 5+3 =  8
The value of 7+2 =  9

---

***FILTER FUNCTION***

***The filter() function in Python takes in a function and a list as arguments. To filter out all the elements of a sequence, for which the function returns True.***

---

In [43]:
#def normal_even(x):

 # if x%2 !=0:
  #  return True
  #else:
   # return False

In [44]:
original_list = [5, 17, 32, 43, 12, 62, 237, 133, 78, 21] 

# filter the odd numbers from the list
filtered_list = list(filter(lambda x: (x%2 != 0) , original_list)) 

print('The odd numbers are : ',filtered_list)

The odd numbers are :  [5, 17, 43, 237, 133, 21]

In [45]:
original_list = [5, 11, 15, 43, 20, 65, 235, 133, 75, 21] 
# filter the multiples of 5
filtered_list = list(filter(lambda x: (x%5 == 0) , original_list)) 
print('The multiples of 5 are : ',filtered_list)

The multiples of 5 are :  [5, 15, 20, 65, 235, 75]

In [46]:
original_list = ['Analytics','Standard','Super','Data','Science','Vidhya'] 
# filter the words starting with 'S'
filtered_list = list(filter(lambda x: (x[0] == 'S') , original_list)) 
print('The words starting with "S" are : ',filtered_list)

The words starting with "S" are :  ['Standard', 'Super', 'Science']

---

***MAP FUNCTION***

***The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item.***

---

In [47]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# double each number in the original list
mapped_list = list(map(lambda x: x*2 , original_list)) 
print('New List : ',mapped_list)

New List :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
original_list = ['analytics','vidhya','king','south','east']
# capatilize first letter of each  word in the original list
mapped_list = list(map(lambda x: x[0].upper()+x[1:] , original_list)) 
print('New List : ',mapped_list)

New List :  ['Analytics', 'Vidhya', 'King', 'South', 'East']


---

***REDUCE FUNCTION***

* ***The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list.***
* ***The reduce function will always take two parameters***

---

In [49]:
from functools import reduce
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# use reduce function to find the sum of numbers in the original list
sum_of_list = reduce((lambda x, y : x + y), original_list) 
print ('Sum of Numbers in the original list is : ',sum_of_list)

Sum of Numbers in the original list is :  45

In [50]:
original_list = [110, 53, 3, 424, 255, 16, 42, 256]
# use reduce function to find the largest number in the original list
largest_number = reduce((lambda x, y: x if (x > y) else y ), original_list) 
print ('Largest Number in the original list is : ',largest_number)

Largest Number in the original list is :  424

---
---

<h1><center> üìçüìçRECURSION üìçüìç </h1></center>

---
***We will solve the problem of counting handshakes here.***

- First we, will code the iterative approach then, we will code the recursive approach.

---

#### `ITERATIVE APPROCH`

---

In [51]:
def count_hand_shakes_iterative(total_persons_in_room):
    count = 0
    
    for i in range(1, total_persons_in_room):
        
        for j in range(i+1, total_persons_in_room+1):
            print('Hand Shake of ', i, 'and',j)
            count = count+1
    
    # total handshakes
    print('Total number of handshakes: ', count)

In [52]:
count_hand_shakes_iterative(total_persons_in_room=5)

Hand Shake of  1 and 2
Hand Shake of  1 and 3
Hand Shake of  1 and 4
Hand Shake of  1 and 5
Hand Shake of  2 and 3
Hand Shake of  2 and 4
Hand Shake of  2 and 5
Hand Shake of  3 and 4
Hand Shake of  3 and 5
Hand Shake of  4 and 5
Total number of handshakes:  10

#### `RECURSIVE APPROACH`

---

In [53]:
# define recursive function to count handshakes

def count_hand_shakes(total_persons_in_room):
    
    # Base Condition: When number of persons is 2 (One Handshake)
    if total_persons_in_room == 2:
            return 1
    
    else:
            # F(N) = F(N-1) + (N-1)
            return count_hand_shakes(total_persons_in_room - 1) + (total_persons_in_room - 1)

In [54]:
count_hand_shakes(5)

10

In [55]:
count_hand_shakes(4)

6

#### `How does it work under the hood?`

---

In [56]:
# define recursive function to count handshakes

def count_hand_shakes(total_persons_in_room):
    
    # Base Condition: When number of persons is 2 (One Handshake)
    print("The function is called with value: ", total_persons_in_room)
    if total_persons_in_room == 2:
            return 1
    
    else:
            # F(N) = F(N-1) + (N-1)
            return count_hand_shakes(total_persons_in_room - 1) + (total_persons_in_room - 1)

#### `How does it work under the hood?`

---

In [57]:
# define recursive function to count handshakes

def count_hand_shakes(total_persons_in_room):
    
    # Base Condition: When number of persons is 2 (One Handshake)
    print("The function is called with value: ", total_persons_in_room)
    if total_persons_in_room == 2:
            return 1
    
    else:
            # F(N) = F(N-1) + (N-1)
            return count_hand_shakes(total_persons_in_room - 1) + (total_persons_in_room - 1)

In [58]:
count_hand_shakes(5)

The function is called with value:  5
The function is called with value:  4
The function is called with value:  3
The function is called with value:  2

10

In [60]:
result = 10
print(result + 4)

14

---

### `Advantages of Recursion`

- Reduces length of code
- Iteration can be complex sometimes, when we have several possible random cases.

---
### `Disadvantages of Recursion`

- It uses more memory.
- Time complexity is increases, can be slow if not implemented correctly. 

---
### `Looping Constructs (Iterative Solution) vs Recursive Solution?`

- It depends upon the task.
- For most common programming tasks go for Iterative solution.
- For particular tasks a recursive solution is both intuitive/simple to understand and also faster in terms of execution.


---

---
---

<center><h1> üìç üìç Standard Libraries in Python üìç üìç</h1></center>

---

In [1]:
import math

In [2]:
# the smallest integer greater than or equal to x.
math.ceil(20.222)

21

In [3]:
# the largest integer less than or equal to x
math.floor(20.222)

20

In [4]:
# greatest common divisor of the integers a and b.
math.gcd(20,25)

5

***Learn more about the functions in math library here: https://docs.python.org/3/library/math.html***

---

**`RANDOM`**

---

In [5]:
import random

In [7]:
# select a random element from a list
random.choice(['apple', 'pear', 'banana'])

'banana'

In [9]:
random.sample(range(10,50), 10)

[29, 22, 27, 37, 41, 33, 46, 21, 30, 45]

In [11]:
# select a random float number
random.random()

0.6813445157499448

In [12]:
# select a random float number within a range.
random.uniform(0,2)

0.44490045831060887

In [13]:
# random integer chosen from range(6)
random.randrange(3,6)

3

In [14]:
random.randint(1,10)

2

#### `DATE TIME`

---



| **Directive** | **Meaning**                                            |
| ---           | ---                                                    |
|  **%a**       | Weekday as locale‚Äôs abbreviated name.                  |
|  **%A**       | Weekday as locale‚Äôs full name.                         |  
|  **%d**       | Day of the month as a zero-padded decimal number.      |
|  **%b**       | Month as locale‚Äôs abbreviated name.	                 |
|  **%B**       | Month as locale‚Äôs full name.	                         |
|  **%m**       | Month as a zero-padded decimal number.                 |
|  **%y**       | Year without century as a zero-padded decimal number.  |
|  **%Y**       | Year with century as a decimal number.                 |
|  **%H**       | Hour (24-hour clock) as a zero-padded decimal number.  |



---

***You can read more about the other directives and datetime library here: https://docs.python.org/3/library/datetime.html***

In [15]:
# dates are easily constructed and formatted
from datetime import date

In [16]:
# get the current date
TODAY = date.today()
print("Date: ", TODAY)

Date:  2025-08-31

In [17]:
# format date
print("Formatted date:", TODAY.strftime("%m-%d-%y."))

Formatted date: 08-31-25.

In [18]:
# format date
print("Formatted date:", TODAY.strftime("%d %b %Y "))

Formatted date: 31 Aug 2025

In [19]:
# format date
print("Formatted date:", TODAY.strftime("%A on the %d day of %B."))

Formatted date: Sunday on the 31 day of August.

In [20]:
# dates support calendar arithmetic
birthday = date(1964, 7, 31)
age = TODAY - birthday

print("Age in days:", age.days)

Age in days: 22311

---

#### `OS`  - OPERATING SYSTEM

- The os module provides dozens of functions for interacting with the operating system

In [22]:
import os

# Return the current working directory
print("Get current working directory:", os.getcwd())

Get current working directory: C:\Users\dell\Machine_Learning

In [23]:
# Change current working directory
print("Change current directory to sample_data")
os.system('mkdir sample_data')
os.chdir('sample_data/')

Change current directory to sample_data

In [24]:
# Run the command mkdir in the system shell
print("Make new directory")
os.system('mkdir today')

Make new directory

0

In [25]:
# Check if new directory got created
print("Listing existing directories:")
os.system('ls')

Listing existing directories:

1

---
---

<center><h1>üìç üìç FILE HANDLING üìç üìç </h1></center>


#### `TEXT FILES`

---

* ***.txt***


**FILE ACCESS MODES**

 * ***`Read Only (‚Äòr‚Äô)`*** : It opens the text file for reading. If the file does not exists, raises I/O error.
 * ***`Read and Write (‚Äòr+‚Äô)`*** : It opens the file for reading and writing. Raises I/O error if the file does not exists.
 * ***`Write Only (‚Äòw‚Äô)`*** : It opens the file for writing. For existing file, the data over-written. Creates the file if the file does not exists.
 * ***`Write and Read (‚Äòw+‚Äô)`*** : It opens the file for reading and writing. For existing file, data is truncated and over-written.
 * ***`Append Only (‚Äòa‚Äô)`*** : It opens the file for writing. The file is created if it does not exist. The data being written will be inserted at the end, after the existing data.
 * ***`Append and Read (‚Äòa+‚Äô)`*** : It opens the file for reading and writing. The file is created if it does not exist. The data being written will be inserted at the end, after the existing data.

---

---

#### `READING TEXT FILES`

---

In [27]:
# Open the file in read only mode.

text_file = open("C:\Arun\Data/file_1.txt", "r")

In [28]:
# read the file and store the text in a variable
complete_text = text_file.read()
complete_text

'Hello, this is a test file.\nWelcome to Python file handling.'

In [29]:
# read the file again
complete_text = text_file.read()

complete_text

''

In [30]:
'''
As you can see we got an empty string.
This is because the file is already opened 
and the file pointer is at the end of the file 
so one way is to close the file first to read it again.
'''

text_file.close()

In [31]:
complete_text = open("C:\Arun\Data/file_1.txt", "r")

In [32]:
complete_text.read()

'Hello, this is a test file.\nWelcome to Python file handling.'

In [33]:
complete_text.seek(0)

0

In [34]:
# read from 300th character in the file
complete_text.seek(300)

300

In [35]:
# read the file
complete_text.read()

''

In [36]:
# close the file
complete_text.close()

***Read the file line by line***

---

In [40]:
# read the file again store each line in a list
text_file = open("C:\Arun\Data/file_1.txt", "r")

lines = text_file.readlines()

# no of lines
print('No of lines in file is ',format(len(lines)))

No of lines in file is  2

In [41]:
# print each line text
for line in lines :
    print(line)

# close the file
text_file.close()

Hello, this is a test file.

Welcome to Python file handling.

In [42]:
with open('C:\Arun\Data/file_1.txt','r') as f:
    complete_text =  f.read()

In [43]:
complete_text

'Hello, this is a test file.\nWelcome to Python file handling.'

#### `WRITING TEXT FILES`


---

In [44]:
# let's open a file in write only mode
my_file = open('C:\Arun\Data/new_file.txt','w')

# write function will return the length of text written in the file.
my_file.write('Data Science is Awesome!')

24

***`write` function will return the number of characters written in the file.***

___

In [45]:
# open the file write and read mode
my_file = open('C:\Arun\Data/new_file.txt','w+')
#  read the file 
my_file.read()

'Data Science is Awesome!'

In [46]:
# close the file
my_file.close()

In [47]:
# Now, add some lines to the file again

my_file = open('C:\Arun\Data/new_file.txt','w+')

In [48]:
# create a list of strings
lines = ['Line 1','Line 2','Line 3','Line 4']
my_file.writelines(lines)

In [49]:
# take the pointer to the initial position
my_file.seek(0)
# read the data
print(my_file.read())
my_file.close()

Line 1Line 2Line 3Line 4

***The content is overwritten when we tried to write again on the same file***

---

####  `APPEND TEXT IN FILE`

In [50]:
# open the file in the append and read mode.
my_file = open('C:\Arun\Data/new_file.txt','a+')

my_file.write('Welcome to the python course')
#  take the pointer to the initial position of the file
my_file.seek(0)

# read the file
my_file.read()

'Line 1Line 2Line 3Line 4Welcome to the python course'