---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

#### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [1]:
# import the pandas library
import pandas as pd

In [3]:
# read the big mart sales data
data = pd.read_csv("C:\Arun\Data/big_mart_sales.csv")

#### `WHAT IS INDEX?`

![](index.png)

-  You can see the index object by `DataFrame.index`.

In [4]:
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [5]:
data.shape

(8523, 12)

In [6]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [7]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---
#### Create a random list of 8523 numbers and set it as the index
---

In [9]:
import random 
random_list=[random.randint(1, 8523) for i in range(8523)]

In [10]:
random_list

[6158,
 337,
 8094,
 6548,
 2822,
 171,
 5278,
 7258,
 4873,
 3647,
 756,
 6302,
 3836,
 3895,
 7750,
 7137,
 3424,
 7978,
 1146,
 4586,
 652,
 7041,
 2839,
 5215,
 5635,
 809,
 1348,
 4873,
 2856,
 219,
 1603,
 870,
 1681,
 879,
 7977,
 626,
 1392,
 5411,
 6316,
 7557,
 2860,
 8243,
 3696,
 7468,
 2942,
 8330,
 7341,
 3271,
 5690,
 2271,
 437,
 8500,
 5351,
 154,
 1150,
 3002,
 3198,
 2502,
 5727,
 4632,
 260,
 7886,
 1968,
 413,
 2971,
 5753,
 4213,
 6282,
 132,
 7189,
 3824,
 1628,
 5005,
 5160,
 6025,
 5381,
 251,
 5818,
 7618,
 7614,
 2539,
 712,
 7778,
 2393,
 1582,
 3026,
 3433,
 2542,
 6285,
 4053,
 357,
 5036,
 3012,
 1276,
 5801,
 833,
 7872,
 2366,
 2090,
 6403,
 3477,
 3492,
 7566,
 7925,
 524,
 5106,
 4960,
 496,
 6298,
 3946,
 1048,
 5230,
 3491,
 478,
 1800,
 6720,
 4733,
 6992,
 4344,
 4667,
 2473,
 5521,
 3099,
 2793,
 8114,
 7292,
 6782,
 1443,
 4721,
 7533,
 7623,
 3582,
 4147,
 5396,
 421,
 8174,
 7847,
 5104,
 7476,
 6394,
 1206,
 2727,
 8119,
 3607,
 6388,
 3217,
 6954,
 6618,
 6631,
 2773,
 3730,
 5682,
 4599,
 5915,
 5421,
 5968,
 2926,
 2362,
 4130,
 5878,
 5373,
 6070,
 4731,
 7155,
 7039,
 5061,
 1016,
 5102,
 5589,
 4951,
 2639,
 5708,
 1445,
 6043,
 5260,
 8146,
 736,
 7099,
 3205,
 2117,
 5524,
 2866,
 6124,
 4279,
 893,
 1663,
 669,
 4272,
 7825,
 901,
 2404,
 6827,
 4482,
 6138,
 5098,
 2976,
 8010,
 7875,
 2446,
 3898,
 7722,
 5437,
 2761,
 2853,
 4687,
 6068,
 1001,
 4169,
 5920,
 58,
 5535,
 1139,
 6581,
 6285,
 450,
 5625,
 6652,
 1366,
 5756,
 3914,
 5471,
 6965,
 8522,
 7732,
 6990,
 5541,
 3759,
 5372,
 6131,
 7912,
 2896,
 582,
 8195,
 3633,
 2281,
 699,
 5631,
 1761,
 8350,
 4506,
 6317,
 2253,
 8223,
 2763,
 2366,
 8458,
 7213,
 1158,
 5578,
 3757,
 5359,
 3818,
 2811,
 8016,
 5597,
 7691,
 7314,
 3800,
 4623,
 2734,
 3571,
 7160,
 2988,
 1198,
 7593,
 6242,
 6994,
 4124,
 8233,
 1622,
 2094,
 2515,
 4107,
 3138,
 3553,
 500,
 368,
 3170,
 8215,
 7717,
 2902,
 7767,
 1107,
 6691,
 2709,
 1470,
 3704,
 5358,
 5530,
 6632,
 1545,
 1801,
 63,
 2916,
 6262,
 1517,
 937,
 6673,
 4829,
 6467,
 6307,
 3530,
 387,
 5550,
 5563,
 4625,
 5654,
 5933,
 3644,
 2201,
 916,
 2473,
 7511,
 7788,
 4677,
 751,
 7182,
 4782,
 704,
 5852,
 6492,
 8186,
 2316,
 1778,
 1110,
 2560,
 7057,
 8138,
 5609,
 2518,
 2961,
 5295,
 4118,
 2992,
 5908,
 5637,
 8342,
 5943,
 5709,
 7110,
 3936,
 6098,
 1086,
 8144,
 3646,
 1752,
 4728,
 674,
 3073,
 1794,
 7418,
 2081,
 5143,
 486,
 7034,
 5977,
 374,
 578,
 4619,
 1499,
 1577,
 749,
 7714,
 3451,
 8124,
 6778,
 7042,
 8115,
 7021,
 183,
 4346,
 4656,
 5277,
 7004,
 1924,
 7366,
 8186,
 6343,
 2183,
 6105,
 6446,
 7706,
 1423,
 2351,
 5161,
 2125,
 2696,
 382,
 4775,
 8106,
 421,
 7893,
 4539,
 1135,
 8059,
 946,
 2681,
 7936,
 5854,
 7033,
 2740,
 4482,
 3507,
 6173,
 3316,
 3611,
 4407,
 905,
 4119,
 6916,
 5645,
 2021,
 1551,
 132,
 5418,
 1979,
 8465,
 717,
 2502,
 7577,
 4751,
 1083,
 6820,
 7615,
 8394,
 346,
 5026,
 8225,
 348,
 8440,
 1913,
 5200,
 4715,
 5673,
 5939,
 694,
 4268,
 7656,
 5067,
 5476,
 5039,
 4713,
 3122,
 5136,
 6936,
 6028,
 4354,
 2052,
 835,
 2467,
 163,
 7449,
 8421,
 7821,
 3084,
 3066,
 1752,
 6677,
 8364,
 1532,
 2064,
 7913,
 896,
 4863,
 4923,
 1520,
 2786,
 213,
 5802,
 8104,
 8379,
 457,
 376,
 4427,
 4401,
 4392,
 1900,
 2827,
 8254,
 184,
 7963,
 6984,
 2425,
 1163,
 5057,
 5183,
 2139,
 2140,
 1041,
 8086,
 7745,
 6526,
 139,
 3806,
 4371,
 6273,
 848,
 4201,
 4281,
 1957,
 2443,
 7298,
 3408,
 7826,
 7677,
 6258,
 3500,
 3694,
 3197,
 7748,
 939,
 7537,
 2527,
 5138,
 6923,
 1572,
 2573,
 1449,
 6218,
 4223,
 7296,
 5014,
 1402,
 5279,
 8118,
 8112,
 5627,
 6462,
 113,
 7336,
 2154,
 5790,
 7594,
 7834,
 212,
 3034,
 4835,
 7593,
 5132,
 8265,
 6852,
 1031,
 4616,
 5322,
 6762,
 3118,
 3285,
 7155,
 4778,
 203,
 6049,
 7897,
 4593,
 829,
 1393,
 1534,
 4366,
 6310,
 6309,
 3274,
 1107,
 2707,
 5567,
 5539,
 2691,
 7987,
 79,
 2078,
 7679,
 7663,
 7512,
 8220,
 2556,
 3815,
 6407,
 2347,
 1768,
 145,
 7961,
 1955,
 5884,
 7830,
 8432,
 8224,
 1045,
 5918,
 6036,
 2610,
 870,
 2704,
 3198,
 7628,
 4321,
 5733,
 5652,
 8200,
 5735,
 4715,
 5601,
 3122,
 7477,
 5520,
 158,
 6374,
 5508,
 1847,
 3651,
 6628,
 1599,
 1250,
 5617,
 3255,
 870,
 1178,
 5791,
 592,
 4657,
 1745,
 2530,
 1142,
 5341,
 4270,
 379,
 2233,
 337,
 2826,
 4126,
 1379,
 7364,
 4966,
 3134,
 1491,
 2500,
 4903,
 867,
 130,
 6008,
 3490,
 864,
 3632,
 3479,
 1738,
 577,
 7291,
 6578,
 4743,
 7355,
 5578,
 6659,
 3400,
 8155,
 4631,
 4035,
 4149,
 6540,
 1524,
 1586,
 4237,
 855,
 7188,
 1330,
 3404,
 3173,
 4226,
 6110,
 1445,
 3815,
 3653,
 8466,
 4554,
 6807,
 4387,
 4341,
 6220,
 7331,
 1115,
 5988,
 1827,
 4147,
 3488,
 2235,
 4061,
 832,
 1736,
 4432,
 388,
 4525,
 5751,
 4019,
 1634,
 4013,
 717,
 3793,
 5785,
 3606,
 4243,
 7094,
 3503,
 3671,
 2630,
 7655,
 6996,
 1379,
 3056,
 7839,
 1991,
 2884,
 6693,
 820,
 5578,
 7402,
 8142,
 6582,
 7560,
 295,
 1342,
 6025,
 8199,
 8415,
 4778,
 7026,
 6902,
 6656,
 6894,
 3706,
 8011,
 6641,
 3506,
 2037,
 6503,
 5317,
 3191,
 2694,
 5720,
 7889,
 2100,
 3717,
 6641,
 7016,
 7609,
 4100,
 2170,
 7556,
 7999,
 1320,
 8331,
 2901,
 876,
 5633,
 2533,
 7761,
 1880,
 7238,
 18,
 6364,
 4227,
 5019,
 4733,
 3813,
 7584,
 901,
 2309,
 8308,
 1747,
 3416,
 3550,
 5598,
 578,
 4782,
 7639,
 1833,
 3194,
 3991,
 7390,
 3547,
 5570,
 2872,
 2263,
 8392,
 7143,
 4521,
 2892,
 8237,
 1680,
 3676,
 3434,
 871,
 7349,
 1526,
 4983,
 6654,
 8415,
 498,
 5530,
 2770,
 4452,
 6720,
 3928,
 7747,
 2900,
 5644,
 6626,
 5494,
 667,
 8373,
 6646,
 5418,
 1914,
 6108,
 5133,
 3702,
 910,
 3273,
 5215,
 4691,
 8074,
 2940,
 6361,
 629,
 8094,
 4567,
 8287,
 580,
 2559,
 4994,
 1259,
 1758,
 7095,
 107,
 1726,
 2315,
 4976,
 23,
 4498,
 593,
 550,
 1191,
 3556,
 6917,
 328,
 7808,
 3965,
 7267,
 94,
 6297,
 1364,
 6206,
 3310,
 4591,
 5202,
 3062,
 2312,
 322,
 1866,
 8508,
 709,
 5812,
 1455,
 2837,
 271,
 2652,
 126,
 7331,
 4559,
 4940,
 3904,
 864,
 7113,
 4624,
 4514,
 2467,
 7757,
 2214,
 722,
 3795,
 6443,
 1827,
 3922,
 7622,
 1283,
 5452,
 1699,
 3921,
 8342,
 2574,
 2734,
 481,
 8359,
 5624,
 6555,
 8390,
 2563,
 2746,
 2921,
 326,
 4620,
 547,
 291,
 1531,
 2334,
 6118,
 2362,
 6546,
 2617,
 5301,
 7795,
 2749,
 7803,
 3698,
 3122,
 658,
 1336,
 7554,
 6831,
 7790,
 127,
 7554,
 5375,
 7909,
 4202,
 5368,
 1923,
 5947,
 7299,
 453,
 6481,
 847,
 2913,
 8112,
 5124,
 3243,
 5749,
 5044,
 92,
 5786,
 1409,
 7097,
 5226,
 6019,
 1230,
 2042,
 5015,
 8243,
 6640,
 4188,
 4662,
 4894,
 5097,
 4772,
 1251,
 4682,
 4058,
 3133,
 7654,
 3167,
 1269,
 1323,
 655,
 6738,
 3105,
 4799,
 4208,
 1793,
 2282,
 5973,
 884,
 3671,
 3790,
 1733,
 1175,
 3796,
 8446,
 68,
 4667,
 6551,
 2108,
 6001,
 3549,
 368,
 2045,
 4990,
 5192,
 2524,
 6577,
 2099,
 5413,
 1460,
 3795,
 159,
 5935,
 2794,
 39,
 4342,
 1034,
 3472,
 2473,
 5118,
 2567,
 4285,
 3578,
 ...]

In [12]:
data.index = random_list

In [13]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6158,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
337,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
8094,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
6548,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
2822,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

***Set another column of the dataframe as the index. We will use the set_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [14]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

In [15]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [16]:
data.index

Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
       ...
       2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
      dtype='int64', name='Outlet_Establishment_Year', length=8523)

---

### `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [17]:
data.set_index('Item_Identifier', drop= True, inplace=True)

In [18]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [19]:
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

#### `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

- We can subset the data based on the label of the index using the loc function.
---

In [20]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---

#### `CAN WE RESET THE INDEX?`

***Yes, we can reset the index. Let's see how? We will use the reset_index function. You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html***

---

In [21]:
# reset the index
data.reset_index(inplace=True)

In [22]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

In [23]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

----

#### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---

---
---

<center><h1> üìç üìç Subsetting: Position Based üìç üìç </h1></center>


---

### `TABLE OF CONTENTS`

- How to view the top and bottom rows of the data?
- How to select rows in a particular range?
- How to select the rows by position?
- How to select the specific rows and columns from the data using their position?


---

#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

---

In [24]:
# importing the pandas library
import pandas as pd

In [25]:
data = pd.read_csv('C:\Arun\Data/big_mart_sales.csv')

#### `How to view the top and bottom rows of the data?`

- Use `head` function to view top n rows.
- Use `tail` function to view bottom n rows.

---

In [28]:
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [29]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [31]:
data.tail(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

#### `How to select rows in a particular range?`

---

In [32]:
data[10:15]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

#### `How to select the rows by position?`

- When we are using `iloc`, we need to specify the rows and columns by their position.
---

In [33]:
# select specific rows by index number
data.iloc[[1,5,2,4,6,14]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

#### `How to select the specific rows and columns from the data using their position?`

- In the `iloc` function pass the first list as the order of rows by their index and pass the second list as the order of columns.

---

In [34]:
data.iloc[[1,4,5,2],[1,3,5]]

   Item_Weight  Item_Visibility  Item_MRP
1        5.920         0.019278   48.2692
4        8.930         0.000000   53.8614
5       10.395         0.000000   51.4008
2       17.500         0.016760  141.6180

---
---

<center><h1>üìç üìç Subsetting: Label Based üìç üìç</h1></center>

---


### `TABLE OF CONTENTS`

- How to select rows using the label of the index?
- Difference between loc and iloc  
  

---

####  `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.
---

In [35]:
# import the pandas library
import pandas as pd

In [36]:
# read the big mart sales data
data = pd.read_csv('C:\Arun\Data/big_mart_sales.csv')

In [37]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [38]:
# set the Item_Identifier as the index of the dataframe.
data.set_index('Item_Identifier',inplace=True, drop=True)

In [39]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `HOW TO SELECT ROWS USING THE LABEL OF THE INDEX?`

---

In [41]:
# select rows with index value 'FDA03'
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208

In [42]:
data.loc[['FDA15', 'FDA03']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208
FDA03,18.5,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
FDA03,NaN,Regular,0.045244,Dairy,146.8102,OUT027,1985,Medium,Tier 3,Supermarket Type3,3499.4448
FDA03,18.5,Regular,0.000000,Dairy,144.2102,OUT035,2004,Small,Tier 2,Supermarket Type1,2041.3428
FDA03,18.5,Regular,0.076097,Dairy,145.8102,OUT010,1998,NaN,Tier 3,Grocery Store,291.6204
FDA03,18.5,Regular,0.045426,Dairy,144.9102,OUT013,1987,High,Tier 3,Supermarket Type1,1895.5326
FDA03,18.5,Regular,0.045534,Dairy,146.3102,OUT049,1999,Medium,Tier 1,Supermarket Type1,3645.2550

#### `HOW TO SELECT ROWS & COLUMNS USING THE LABEL OF THE INDEX?`

---

In [44]:
data.loc[['FDA15', 'FDA03'], 'Item_Fat_Content']

Item_Identifier
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15    Low Fat
FDA15         LF
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
FDA03    Regular
Name: Item_Fat_Content, dtype: object

In [45]:
data.loc[['FDA15', 'FDA03'], ['Item_Fat_Content', 'Item_Type', 'Item_MRP']]

                Item_Fat_Content Item_Type  Item_MRP
Item_Identifier
FDA15                    Low Fat     Dairy  249.8092
FDA15                    Low Fat     Dairy  250.2092
FDA15                    Low Fat     Dairy  248.5092
FDA15                    Low Fat     Dairy  249.6092
FDA15                    Low Fat     Dairy  248.9092
FDA15                    Low Fat     Dairy  250.6092
FDA15                    Low Fat     Dairy  249.5092
FDA15                         LF     Dairy  248.8092
FDA03                    Regular     Dairy  144.1102
FDA03                    Regular     Dairy  146.8102
FDA03                    Regular     Dairy  144.2102
FDA03                    Regular     Dairy  145.8102
FDA03                    Regular     Dairy  144.9102
FDA03                    Regular     Dairy  146.3102

---

#### `DIFFERENCE BETWEEN LOC AND ILOC`

---

***Let's create a sample dataframe***

---

In [46]:
sample_df = pd.DataFrame({
    'gender' : ['M', 'F', 'M', 'M', 'F'],
    'grade'  : ['A', 'A', 'B', 'B', 'A'],
    'marks'  : [ 22,  21,  12,  14,  20],
    'id'     : ['A101', 'A102', 'A103', 'A104', 'A105']
})
sample_df

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

---

***Now, when we define a dataframe by default the index is a range of numbers. Let's see what happens if try to slice the dataframe using both `loc` and `iloc`***

---

In [47]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [48]:
sample_df.iloc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104

---

- When we try to slice the dataframe using the `loc` function on `range(2 to 4)` it first finds out the index with a `label 2` and goes till it finds the index with a `label 4`. 
- On the other hand, when we try to silce the dataframe using the `iloc` function on `range(2 to 4)` it starts with the `starting point index 2` and goes till `end point - 1 which is 3`.

---


***Let's verify this by sorting the dataframe by marks column.***

---

In [49]:
sample_df = sample_df.sort_values(by=['marks'])
sample_df

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101

---

***Now that we have sorted the dataframes, the indices are shuffled accordingly. Let's try to slice the dataframes again.***

---

In [51]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [52]:
sample_df.iloc[2:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102

----

- You can see that when we tried to slice the dataframe using the `loc` function it finds out the name of start and end point and slice the data whereas `iloc` still gives the 2nd and 3rd value of the dataframe.

----
***Let's change the index of the dataframe to a categorical variable.***

---

In [54]:
sample_df.set_index('id',inplace=True)
sample_df

     gender grade  marks
id
A103      M     B     12
A104      M     B     14
A105      F     A     20
A102      F     A     21
A101      M     A     22

---

***Now, try to slice the dataframe using the loc and iloc function.***

---

In [56]:
sample_df.iloc[2:4]

     gender grade  marks
id
A105      F     A     20
A102      F     A     21

In [57]:
sample_df.loc['A104':'A102']

     gender grade  marks
id
A104      M     B     14
A105      F     A     20
A102      F     A     21

---
---

<center><h1> üìç üìç Subsetting: Value Based üìç üìç </h1></center>


---

### `TABLE OF CONTENTS`

 - How to select rows based on condition?
 - How to select rows based on multiple conditions?
 - How to select specific columns from a data?
 - How to select rows based on a condition and view only the specific columms?
 - How to select the columns with specific data types?

---

#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

---

In [1]:
# importing the required libraries
import pandas as pd

In [2]:
# read the data
data = pd.read_csv("C:\Arun\Data/big_mart_sales.csv")

In [3]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `HOW TO SELECT ROWS BASED ON CONDITION?`

- Select all rows where the value of `Outlet_Establishment_Year` is 1987

---

In [4]:
# filter rows with condition
data.loc[data.Outlet_Establishment_Year == 1987]
# data[data.Outlet_Establishment_Year == 1987]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

---

#### `HOW TO SELECT ROWS BASED ON MULTIPLE CONDITIONS?`

- When passing multiple conditions make sure that you put each of the condition in a parenthesis ().
- Select all rows where the value of `Outlet_Establishment_Year` is 2009 and value of `Outlet_Size` is Medium.

---

In [5]:
# filter data based on multiple conditions
# and &
# or |
# not !
data.loc[(data.Outlet_Establishment_Year == 2009) & (data.Outlet_Size == 'Medium')]
# data[(data.Outlet_Establishment_Year != 2009)] #and, or

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
31,NCS17,18.600,Low Fat,0.080829,Health and Hygiene,96.4436,OUT018,2009,Medium,Tier 3,Supermarket Type2,2741.7644
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8515,FDH24,20.700,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

***If you want to filter for a list of values from a column then instead of writing multiple conditions use the `isin` function.***

---
#### `HOW TO FILTER FOR A LIST OF VALUES?`
---

In [6]:
# get rows for 3 years 1987, 1988, 1999
data[(data.Outlet_Establishment_Year == 1987) | (data.Outlet_Establishment_Year == 1988) | (data.Outlet_Establishment_Year == 1999)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
...,...,...,...,...,...,...,...,...,...,...,...,...
8475,NCS17,18.600,Low Fat,0.080627,Health and Hygiene,92.5436,OUT049,1999,Medium,Tier 1,Supermarket Type1,378.1744
8479,FDL10,8.395,Low Fat,0.039554,Snack Foods,99.1042,OUT049,1999,Medium,Tier 1,Supermarket Type1,2579.3092
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

In [7]:
# filter for a list of values
# data.loc[data.Outlet_Establishment_Year.isin([1987, 1988, 1999])]
data[data.Outlet_Establishment_Year.isin([1987, 1988])]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,FDQ31,5.785,Regular,0.053802,Fruits and Vegetables,85.9856,OUT013,1987,High,Tier 3,Supermarket Type1,1494.0552
8466,FDJ32,10.695,Low Fat,0.057744,Fruits and Vegetables,61.2536,OUT013,1987,High,Tier 3,Supermarket Type1,673.7896
8484,DRJ49,6.865,Low Fat,0.000000,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834

#### `HOW TO SELECT SPECIFIC COLUMNS FROM A DATA?`

- ***You just need to pass a list of columns that you need.***


---

In [8]:
# list of columns
select_columns = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']

# dataframe with specific columns
data[select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
0              FDA15  249.8092                       1999      Medium
1              DRC01   48.2692                       2009      Medium
2              FDN15  141.6180                       1999      Medium
3              FDX07  182.0950                       1998         NaN
4              NCD19   53.8614                       1987        High
...              ...       ...                        ...         ...
8518           FDF22  214.5218                       1987        High
8519           FDS36  108.1570                       2002         NaN
8520           NCJ29   85.1224                       2004       Small
8521           FDN46  103.1332                       2009      Medium
8522           DRG01   75.4670                       1997       Small

[8523 rows x 4 columns]

#### `HOW TO SELECT ROWS BASED ON A CONDITION AND VIEW ONLY THE SPECIFIC COLUMMS?`

---

***Using Square brackets***

In [9]:
# list of specific columns
select_columns = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']

# filter the data
data[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High')][select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

***Using loc***

- Using loc, we can provide columns to select within the same square bracket.

---

In [10]:
data.loc[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High'), select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

---

#### `HOW TO SELECT THE COLUMNS WITH SPECIFIC DATA TYPES?`


- ***Let's first see the data type of each column using `dtypes` function.***

---

In [11]:
# check the data types of the columns
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

---


#### `Select the columns with object data type (categorical variables) only`

---

In [12]:
# select the columns where data type = object
data.select_dtypes('object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...
8518,FDF22,Low Fat,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,Baking Goods,OUT045,NaN,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

#### `Select the columns with float64 datatype`

---

In [13]:
# select numerical datatype
data.select_dtypes('int64')

      Outlet_Establishment_Year
0                          1999
1                          2009
2                          1999
3                          1998
4                          1987
...                         ...
8518                       1987
8519                       2002
8520                       2004
8521                       2009
8522                       1997

[8523 rows x 1 columns]

#### `df[] VS df.loc[] WHEN TO USE WHICH?`

---

 - `df.loc[]` provides simpler syntax over `df[]`
 - Both have similar performance in terms of execution time
 - `df.loc[]` also works with label based subsetting
 - `df[]` sometimes has unwanted behavior, hence as a good practice it is recommended to use `df.loc[]`. 
 
 Read here for more info: https://stackoverflow.com/a/38886211

---
---

<center><h1>üìç üìç Modifying Data üìç üìç</h1></center>

---


### `TABLE OF CONTENTS`

- How to impute the missing values in any column?
- How to update the values of a column with a new mapping?
- How to create a new column by modifying the existing column?
- How to convert categorical variables into numerical?

---

####  `READ THE DATA`


- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

---

In [14]:
# importing the pandas library
import pandas as pd

In [15]:
# read the dataset
data = pd.read_csv("C:\Arun\Data/big_mart_sales.csv")

In [16]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052


***Check the columns with null values.***

First, we will check the number of missing values in each of the column. Use the function `isna().sum()`.



---

In [17]:
# check for the null values
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

So, we have missing values in the column `Item_Weight` and `Outlet_Size`.

---
#### `Select the columns where Item_Weight has missing values using loc`

---

In [18]:
# rows with null values in the Item_Weight
data.loc[data.Item_Weight.isna() == True]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [19]:
data.Item_Weight.mean()

np.float64(12.857645184135977)

In [20]:
# fill the null values in Item_Weight by mean
data.loc[(data.Item_Weight.isna() == True) , 'Item_Weight'] = data.Item_Weight.mean()

In [21]:
data.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [22]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [23]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `Fill the missing values in the column: Outlet_Size by most frequent value using loc`

---

***Mode of Outlet Size***

In [24]:
data.Outlet_Size.mode()

0    Medium
Name: Outlet_Size, dtype: object

In [25]:
data.Outlet_Size.value_counts()

Outlet_Size
Medium    2793
Small     2388
High       932
Name: count, dtype: int64

In [26]:
data.loc[(data.Outlet_Size.isna() == True) , 'Outlet_Size'] = 'Medium'

#### `Use the fillna function to impute the missing values.`

- `fillna` function is another way to impute the missing values. Use the parameter `inplace=True` to store the results in the dataframe.

In [27]:
# fill the null values in Outlet Size by the most frequent value: "Medium"
data.Outlet_Size.fillna('Medium', inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_2336\799719732.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Outlet_Size.fillna('Medium', inplace=True)

In [28]:
# check the null values again
data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#### `HOW TO UPDATE THE VALUES OF A COLUMN?`


---

In [29]:
# look at the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

***Let's have a look at the count of each category in the column `Item_Fat_Content`. We will use `value_counts` function to to do that.***


---

In [30]:
data.Item_Fat_Content.value_counts()

Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

---

***We can see that the categories `Low Fat`, `LF` and `low fat` are same and also `Regular`, `reg` are same. So to keep the data clean we will map all these to only two categories to `LF` and `R` using the map function. Let's see how?***

In [31]:
# Create a new mapping (dictionary) 
mapping = {
    'Low Fat' : 'LF',
    'Regular' : 'R',
    'LF' : 'LF',
    'reg': 'R',
    'low fat' : 'LF'
}

In [32]:
data.Item_Fat_Content.map(mapping)

0       LF
1        R
2       LF
3        R
4       LF
        ..
8518    LF
8519     R
8520    LF
8521     R
8522    LF
Name: Item_Fat_Content, Length: 8523, dtype: object

In [33]:
# use the  map function to update the values
data.Item_Fat_Content = data.Item_Fat_Content.map(mapping)

In [34]:
# Count of new categories in the column Item_Fat_Content
data.Item_Fat_Content.value_counts()

Item_Fat_Content
LF    5517
R     3006
Name: count, dtype: int64

#### `HOW TO CREATE A NEW COLUMN BY MODIFYING THE EXISTING COLUMN?`

---

In [35]:
data.Item_MRP

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

#### `APPLY`

***Create a new column `Item_MRP_in_USD` by dividing the each value in the column `Item_MRP` by 74 using the apply function. Let's see how?***

---

In [36]:
data.Item_MRP.apply(lambda x: x/74)

0       3.375800
1       0.652286
2       1.913757
3       2.460743
4       0.727857
          ...
8518    2.898943
8519    1.461581
8520    1.150303
8521    1.393692
8522    1.019824
Name: Item_MRP, Length: 8523, dtype: float64

In [37]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [38]:
def convert(price):
    price = price/74
    price = price + 1.28
    return price

In [39]:
data['Item_MRP_in_USD_UPDATED'] = data.Item_MRP.apply(lambda x : convert(x))

In [40]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,4.655800
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1.932286
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,3.193757
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,3.740743
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,2.007857

In [49]:
data['Item_MRP_in_USD'] = data['Item_MRP'] / 83

In [50]:
data[['Item_MRP','Item_MRP_in_USD']]

      Item_MRP  Item_MRP_in_USD
0     249.8092         3.009749
1      48.2692         0.581557
2     141.6180         1.706241
3     182.0950         2.193916
4      53.8614         0.648933
...        ...              ...
8518  214.5218         2.584600
8519  108.1570         1.303096
8520   85.1224         1.025571
8521  103.1332         1.242569
8522   75.4670         0.909241

[8523 rows x 2 columns]

---

#### `HOW TO CONVERT CATEGORICAL VARIABLES INTO NUMERICAL?`

Most of the machine learning algorithms do not take categorical variables so we need to convert them into numerical ones. In pandas, we have one such function `get_dummies` which will help us in doing such tasks.  It will create a binary column for each of the categories. 

For example, look at the image below, We have two genders male and female. It will create two binary columns.  
![](encode.png)

This is also known as `One Hot Encoding`. You will learn more encoding techniques in the data pre-processing module.

---

#### Let's look at the data again.

In [51]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED,Item_MRP_in_USD
0,FDA15,9.30,LF,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,4.655800,3.009749
1,DRC01,5.92,R,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1.932286,0.581557
2,FDN15,17.50,LF,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,3.193757,1.706241
3,FDX07,19.20,R,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,3.740743,2.193916
4,NCD19,8.93,LF,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,2.007857,0.648933

In [52]:
data.shape

(8523, 14)

#### `USE GET_DUMMIES`

---

In [53]:
# convert categorical variables into numerical variables.
data = pd.get_dummies(data)

In [54]:
# view the data
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_MRP_in_USD_UPDATED,Item_MRP_in_USD,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,4.655800,3.009749,False,False,False,...,False,True,False,True,False,False,False,True,False,False
1,5.92,0.019278,48.2692,2009,443.4228,1.932286,0.581557,False,False,False,...,False,True,False,False,False,True,False,False,True,False
2,17.50,0.016760,141.6180,1999,2097.2700,3.193757,1.706241,False,False,False,...,False,True,False,True,False,False,False,True,False,False
3,19.20,0.000000,182.0950,1998,732.3800,3.740743,2.193916,False,False,False,...,False,True,False,False,False,True,True,False,False,False
4,8.93,0.000000,53.8614,1987,994.7052,2.007857,0.648933,False,False,False,...,True,False,False,False,False,True,False,True,False,False

In [55]:
# now, we have 1603 columns
data.shape

(8523, 1604)