---
---

<center><h1> üìçüìç Theory of Operators üìçüìç </h1> </center>


* ***Arithmetic operators***  

* ***Comparison operators***

* ***Logical operators***

 

---

---

In [ ]:
a = 15      # int
b = 8       # int
c = 15.5    # float
s = 'Hello' # String

In [2]:
#Addition

3 + 5

8

In [3]:
# Subtraction

54 - 46

8

In [4]:
# Multiplication

2 * 3

6

In [5]:
# Division

35 /7

5.0

In [6]:
"neeraj"+"20"

'neeraj20'

In [7]:
"neeraj" * 5

'neerajneerajneerajneerajneeraj'

# Comparison Operators

In [8]:
# greater than

45 >34

True

In [9]:
# less than 

56 <23

False

In [10]:
34 * 34 < 45*23

False

In [11]:
45 == 45

True

# Logical Operators

In [12]:
# and operator

0 and 3

0

In [13]:
3 and 0

0

In [14]:
3 and 5

5

In [15]:
# or operator

0 or 3

3

In [16]:
3 or 0

3

# Variable Assignment

In [1]:
a = 5

In [2]:
print(a)

5

In [2]:
A = 4

In [3]:
print(A)

4

# How variables work in Python

In [5]:
a = 7
b = a
a = 3

In [6]:
print(a)
print(A)
print(b)
print(b)

3
4
7
7

# Variable naming rules

In [7]:
a = 5

In [8]:
_a=5

# Data types

In [9]:
a =5

In [10]:
type(a)

int

In [11]:
b="neeraj"

In [12]:
type(b)

str

In [4]:
my_age = 26.33333
my_age = int(my_age)
my_age

26

In [6]:
my_int = int('2') + 6
my_int

8

---

<center><h1> üìç üìç Conditional Statements üìç üìç </h1></center>


---
***CONDITIONAL OPERATORS***

* ***Double Equals:*** a == b
* ***Not Equals:*** a != b
* ***Less than:*** a < b
* ***Less than or equal to:*** a <= b
* ***Greater than:*** a > b
* ***Greater than or equal to:*** a >= b


---

In [7]:
# if "The condition in the if statement is False"
x = 1

if (x == 1):
    print('The condition in the if statement is True.')

The condition in the if statement is True.

In [8]:
# if "The condition in the if statement is False"
if (x == 3):
    print('The condition in the if statement is True')

In [19]:
# with one condition
a = 5
b = 10

if (a > b):
    print('a is greater than b.')
else :
    print('a is smaller than b.')

a is smaller than b.

In [13]:
# Problem 1 : Take a variable x and print "Even" if the number is divisible by 2, otherwise print "Odd".
x=4

if(x%2==0):
    print("Even")
else:
    print("Odd")

Even

In [10]:
# multiple conditions
a = 8
b = 10

if ( (a > 10) and (b > 10) ):
    print('Both the numbers are greater than 10.')
    
elif ( (a > 5) and (b > 5) ):
    print('Both the numbers are greater than 5')
    
else:
    print('Conditions are not Satisfied.')

Both the numbers are greater than 5

In [14]:
# Problem 2 : Take a variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.
y=90

if(y>90):
    print("Grade A")
elif(y>60):
    print("Grade B")
else:
    print("Grade F")

Grade B

In [11]:
x = input()

# by default the type is string, so we need to convert the type first
x = int(x)

if(x%2 == 0):
    print("Even")
else:
    print("Odd")

 12

Even

---
---

<center><h1> üìçüìç Looping Constructs: üìçüìç</h1></center>

---
---

### üìçüìç FOR LOOP AND RANGE FUNCTION

- We use for loop when we want to run a block of code certain number of times.
 
---

- When we pass only one argument (considered as **`END_POINT`**) in the range function. The loop starts with **`0`** and runs till **`END_POINT - 1.`**

In [14]:
for number in range(4):
    print(number)

0
1
2
3

In [15]:
for number in range(1, 5):
    print(number)

1
2
3
4

In [16]:
for number in range(1, 10, 2):
    print(number, end= ' ')

1 3 5 7 9

In [17]:
for character in "analytics_vidhya":
    print(character)

a
n
a
l
y
t
i
c
s
_
v
i
d
h
y
a

In [18]:
# Problem 2: Write a for loop to print all the add numbers between 10 and 50.
for i in range(10,51):
    if(i%2!=0):
        print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [15]:
# Problem 1: Write a for loop to print all the numbers between 10 and 50.
for i in range(11,50):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [20]:
# Problem 2: Write a for loop to print all the add numbers between 10 and 50.
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

---

### üìçüìç **`NESTED FOR LOOPS`**

- A nested loop is a loop within a loop.
- For each step in the outer loop, the inner loop exectues completely. See the below example

---

In [21]:
# define the range of outer loop
for outer_loop_number in range(1, 3):
    
    # define the inner loop
    for inner_loop_character in "ABC":
        
        print(outer_loop_number, inner_loop_character)

1 A
1 B
1 C
2 A
2 B
2 C

---
---

## üìçüìç WHILE LOOP

* Another way to execute a block of code over and over again is using a while statement. 
* The code in a while clause will be executed as long as the while statement‚Äôs condition is True.


---

***In the below example, we have initialize the variable `number = 0` and we will increment it's value in each iteration. The loop will only continue to run only if the value is less than 7.***

---

In [22]:
number = 0

while (number < 7):
    print(number)
    number = number + 1

0
1
2
3
4
5
6

In [23]:
number = 0

while (number < 7):
    print(number)
    number = number + 2

0
2
4
6

---
---

### üìçüìç Jump Statements in Python (break, continue and pass)

- Using for loops and while loops in Python allow you to automate and repeat tasks in an efficient manner.

- But sometimes, an external factor may influence the way your program runs. When this occurs, you may want your program to exit a loop completely, skip part of a loop before continuing, or ignore that external factor. 
- You can do these actions with break and continue statements.

#### 1. Break Statement
- In Python, the break statement provides you with the opportunity to exit out of a loop when an external condition is triggered. 

- You‚Äôll put the break statement within the block of code under your loop statement, usually after a conditional if statement.

- The break statement causes a program to break out of a loop.


Let‚Äôs look at an example that uses the break statement in a for loop:

In [24]:
number = 0

for number in range(10):
    if number == 5:
        break    # break here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [25]:
password = "data"

for trial in range(1,5):
    
    if trial == 4:
        print('One trial left!!!')
        
    
    enter_password = input("Enter Password: ")
        
    if enter_password == password:
        print("Welcome to Python Course!!")
        break
        
    else:
        print("Wrong Password!!")

Enter Password:  1233

Wrong Password!!

Enter Password:  data

Welcome to Python Course!!

In [26]:
number = 0

for number in range(10):
    if number == 5:
        continue    # continue here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [27]:
OTP = "1232"

for trial in range(1, 5):
    
    if trial == 4:
        print('One trial left!!!')
    
    enter_otp = input("Enter OTP: ")
        
    if enter_otp != OTP:
        print("Try Again !!")
        continue
        
    else:
        name = input("Enter Your Name: ")
        city_name = input("Enter Your City: ")
        break

Enter OTP:  12

Try Again !!

Enter OTP:  1232
Enter Your Name:  arun
Enter Your City:  Kathmandu

In [28]:
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here

    print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [17]:
# Problem : Create a function that takes two numbers as argument and returns the greater of the two.
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
    
    return greater

In [18]:
compare(10,50)

50

In [19]:
compare(14,5)

14